Different Ways Of Creating Dataframe
------------------------------------

01 Using csv
------------

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

02 Using excel
--------------
Install openpyxl
----------------

pip install openpyxl

In [10]:
import openpyxl

In [9]:
# Use the correct path and ensure file is not open elsewhere
file_path = r"C:\Users\Selva\OneDrive\Desktop\PythonJupitarNotebook\Pandas\02different_ways_of_creating_dataframe\weather_data.xlsx"

try:
    df = pd.read_excel(file_path, sheet_name="Sheet1")
    print(df)
except PermissionError:
    print("Permission denied. Please ensure the file is not open elsewhere and you have read permissions.")
except FileNotFoundError:
    print(f"File not found. Check the path: {file_path}")
except Exception as e:
    print(f"An error occurred: {e}")

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

Using dictionary
----------------

In [11]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Using tuples list
-----------------

In [12]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

Using list of dictionaries
--------------------------

In [13]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow