Dataframe
---------

        Dataframe is most commonly used object in pandas. It is a table like datastructure containing rows and columns similar to excel spreadsheet

In [1]:
import pandas as pd

In [4]:
# Create csv file use DataFrame

# Define the data
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow', 'Snow', 'Rain', 'Sunny']
}

# Create DataFrame
df = pd.DataFrame(weather_data)

# Write DataFrame to CSV
df.to_csv('weather_data.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [4]:
# Open CSV file

df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [7]:
df.shape # rows, columns = df.shape

(6, 4)

Get Row values
--------------

In [13]:
print(df.head())  # Displays the first 5 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [14]:
df.head(3) # Displays the first 3 rows

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [15]:
df.tail()  # Displays the last 5 rows

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [16]:
print(df.tail(2)) # Displays the last 2 rows

        day  temperature  windspeed  event
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

Get Column values
-----------------

In [17]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [18]:
df['day'] # or df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [19]:
type(df['day'])

pandas.core.series.Series

In [20]:
type(df)

pandas.core.frame.DataFrame

In [21]:
df[['day','temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

Operations On DataFrame
-----------------------

In [30]:
print(df['temperature'].max())

35

In [24]:
df[df['temperature']>31]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [31]:
df['day'][df['temperature'] == df['temperature'].max()]

1    1/2/2017
Name: day, dtype: object

In [29]:
df[['day','temperature']][df['temperature'] == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

In [32]:
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

Standard Deviation
------------------
                               _
        1. Calculate the Mean (x) :
                _    sum of all values
                x = -------------------
                     number of values

                _    32+35+28+24+32+31       182
                x = -------------------  = ------- = 30.33
                             6                6

        2. Subtract the Mean from Each Data Point  :

                    32−30.33=1.67,
                    35−30.33=4.67,
                    28−30.33=−2.33,
                    24−30.33=−6.33,
                    32−30.33=1.67,
                    31−30.33=0.67.

         3. Square Each Deviation :

             (1.67) ^ 2 = 2.79,
             (4.67) ^ 2 = 21.81,
             (−2.33) ^ 2  = 5.43,
             (−6.33) ^ 2 = 40.07,
             (1.67) ^ 2 = 2.79,
             (0.67) ^ 2 = 0.45.

          4. Calculate the Variance :
          
                          2.79+21.81+5.43+40.07+2.79+0.45       73.34
               variance = --------------------------------  = ------- = 14.67
                                     6 - 1                       5

          5. Take the Square Root of the Variance :
                              ______
                          s = |14.67  =  3.83

         6. Final Result :

         The sample standard deviation is:

                          𝑠 = 3.83

The standard deviation is a crucial statistical measure that has multiple uses in analyzing datasets. It is particularly helpful for understanding and interpreting data variability. 

Standard Deviation: 3.833030

This means the temperatures deviate by an average of 3.83 units from the mean of 30.33

In [6]:
df['temperature'].std()

np.float64(3.8297084310253524)

In [7]:
df['event'].max() # But mean() won't work since data type is string

'Sunny'

In [8]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

set_index
---------

In [9]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [11]:
'''
inplace : bool, default False
    Whether to modify the DataFrame rather than creating a new one.
'''

df.set_index('day', inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [12]:
df.index

Index(['1/1/2017', '1/2/2017', '1/3/2017', '1/4/2017', '1/5/2017', '1/6/2017'], dtype='object', name='day')

In [15]:
df.loc['1/2/2017']

temperature       35
windspeed          7
event          Sunny
Name: 1/2/2017, dtype: object

In [16]:
# reset_index

df.reset_index(inplace=True)
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [5]:
# set_index for event

df.set_index('event',inplace=True) 
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [6]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7

 Removing Columns
 ----------------

In [7]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [8]:
df.drop('windspeed',axis=1)

            day  temperature
event
Rain   1/1/2017           32
Sunny  1/2/2017           35
Snow   1/3/2017           28
Snow   1/4/2017           24
Rain   1/5/2017           32
Sunny  1/6/2017           31

In [9]:
df

            day  temperature  windspeed
event
Rain   1/1/2017           32          6
Sunny  1/2/2017           35          7
Snow   1/3/2017           28          2
Snow   1/4/2017           24          7
Rain   1/5/2017           32          4
Sunny  1/6/2017           31          2

In [10]:
df.drop('windspeed',axis=1,inplace=True)

In [11]:
df

            day  temperature
event
Rain   1/1/2017           32
Sunny  1/2/2017           35
Snow   1/3/2017           28
Snow   1/4/2017           24
Rain   1/5/2017           32
Sunny  1/6/2017           31

Removing Rows
-------------

In [12]:
df.drop('Sunny',axis=0)

            day  temperature
event
Rain   1/1/2017           32
Snow   1/3/2017           28
Snow   1/4/2017           24
Rain   1/5/2017           32